.search-header {
    border-bottom: 1px solid #ddd;
}

.search-results {
    text-indent: 0;
}

.search-result {
    padding-top: 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.search-result__header {
    padding: 0.5em 0;
}

.search-result__all-common-names,
.search-result__extra-field,
.search-result__description,
.search-result__view-records {
    margin-bottom: 4px;
}

.result-thumbnail {
    align-self: center;
    margin: .5rem;
}

.result-thumbnail img {
    max-width: 300px;
    max-height: 128px;
}

.step, .currentStep {
    padding-right: 0.5em;
}

/* */
.search-facet {
    margin-bottom: 1em;
}

.search-facet__header {
    font-size: 14px;
}

.search-facet__values {
    margin-bottom: 0;
}

.search-facet__value {
    padding: 3px 0;
}

a.expand-options {
    display: block;
    margin-top: 6px;
    padding-top: 2px;
    border-top: 1px solid #e3e3e3;
}

.results-row {
    flex-wrap: wrap;
}

.results-container {
    flex: 1;
    margin: 0 15px;
    min-width: 280px;
}

.filters-container {
    display: block;
    margin-left: 15px;
    max-width: 400px;
}

.filters-container--collapsed {
    display: none;
}

.filters-container-btn {
    background: transparent;
    border: 0;
    color: #0587aa;
    cursor: pointer;
    height: initial;
    padding: 0;
    text-decoration: none;
    transition: color .1s ease;
    white-space: nowrap;
}
