/*
 *= require leaflet-1.2.0/leaflet
 *= require ekko-lightbox-5.2.0
 *= require ala-charts
 *= require species
*/

.audio-player {
    width: 100%;
}

.audio-player-footer {
    margin-bottom: 1rem;
}

/* Audio player footer */
.panel-footer p {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
}

.page-taxon {
    width: 100%;
}

/* Taxon column gutters */
.taxon-row {
    margin-right: -10px;
    margin-left: -10px;
}

.taxon-row>div[class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
}

/* Taxon summary gallery */
.taxon-summary-gallery {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px;
}

.taxon-summary-gallery .main-img {
    position: relative;
    background-color: #3a3a3a;
}

.taxon-summary-gallery .main-img:hover {
    opacity: 0.8;
}

.taxon-summary-gallery .main-img img {
    max-height: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.taxon-summary-gallery .main-img .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4px 8px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    line-height: 14px;
}

.taxon-summary-gallery .thumb-row {
    border-top: 1px solid #fff;
    background-color: #3a3a3a;
}

.taxon-summary-thumb {
    position: relative;
    width: 25%;
    float: left;
    padding-top: 25%;
    border-left: 1px solid #fff;
    background-position: center center;
    background-size: cover;
}

.taxon-summary-thumb:hover {
    opacity: 0.8;
}

.taxon-summary-thumb:first-child {
    border-left: 0;
}

.taxon-summary-thumb a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.taxon-summary-thumb .more-photos {
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.taxon-summary-thumb .more-photos span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
    color: #fff;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
}

.loadMore {
    padding-top: .5rem;
    padding-bottom: 1rem;
}

/* Taxon map */
.taxon-map {
    margin-bottom: 20px;
}

.taxon-map h3 {
    padding-bottom: 1rem;
}

/* Taxon resources */
.panel-resources .panel-body {
    -moz-columns: 150px 2;
    -webkit-columns: 150px 2;
    columns: 150px 2;
}

.panel-resources ul {
    padding-left: 15px;
}

/* Taxon actions */
.panel-actions .panel-body {
    padding-top: 19px;
    padding-bottom: 4px;
    -moz-columns: 150px 2;
    -webkit-columns: 150px 2;
    columns: 150px 2;
}

.panel-actions li {
    padding-bottom: 8px;
}

.panel-actions a {
    display: inline-block;
    position: relative;
    padding-left: 21px;
}

.panel-actions a .glyphicon {
    position: absolute;
    top: 3px;
    left: 0;
    color: #777;
}

/* Taxon Names tab */
.name-table ul {
    margin: 0;
    padding-left: 25px;
}

.name-table .source {
    width: 50%;
}

.name-table tr.cite td {
    border: none;
}


/* Taxon Classification tab */
.classification-list dl {
    margin-left: 24px;
}

.classification-list dt {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 4px;
}

.classification-list dd {
    display: inline-block;
}


/* Taxon Literature & Taxon Sequences tabs */
.result-list {
    padding-top: 1rem;
}

.result {
    margin-bottom: 1rem;
}

.result p {
    margin-bottom: 0px;
}

.thumbnail-container {
    margin: -4px;
    padding-top: 3px;
    font-size: 0;
}

.page-thumbnail {
    display: inline-block;
    margin: 4px;
    font-size: 14px;
}

.page-thumbnail a {
    display: block;
    border: 4px solid #fff;
}

.page-thumbnail img {
    height: 100px;
}

.pagination-buttons {
    padding-bottom: 20px;
}

.pagination-buttons .btn {
    margin-right: 6px;
}


/* Taxon Data Providers tab */
.data-providers-list {
    padding-left: 0;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    -moz-columns: 300px 2;
    -webkit-columns: 300px 2;
    columns: 300px 2;
}

.data-providers-list li {
    margin-left: 30px;
    padding-bottom: 4px;
}

.push {
    clear: both;
}


/* Name formatting */
.scientific-name {
    font-style: normal;
}

.scientific-name.rank-genus .name {
    font-style: italic;
}

.scientific-name.rank-species .name {
    font-style: italic;
}

.scientific-name.rank-subspecies .name {
    font-style: italic;
}

.taxon-name-italic {
    font-style: italic;
}

/* Name annotations */
.annotation {
    display: inline;
    padding: 2px;
    margin-right: 1px;
    border: none;
    border-radius: 2px;
    background: #C8D0E0;
    font-size: smaller;
}


/* charts config */
#charts {
    padding-top: 2rem;
}

.chart {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 1rem;
    padding-right: 250px;
}

.chart-legend {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 250px;
    font-size: 12px;
}

#data_resource_uid-chart {
    width: 100%;
}


/* Hide wikipedia links */
.mw-editsection {
    display: none;
}


/* Allow multiple rows of tabs */
.nav-tabs {
    flex-wrap: wrap;
}

.card-footer p:last-child {
    margin-bottom: 0;
}

/* plutof-references */
.plutof-references__list {
    padding-top: 1rem;
    padding-left: 0;
}

.plutof-references__item {
    padding-bottom: 1rem;
    list-style-type: none;
}


/* plutof-pagination */
.plutof-pagination__page {
    margin-right: 0.5rem;
    color: #0587aa;
    cursor: pointer;
}

.plutof-pagination__page.plutof-pagination__page--current {
    color: inherit;
    cursor: inherit;
}


/* XXX */
.tab-pane {
    margin-bottom: 0;
}

/* XXX */
.modal-body img {
    max-width: 100%;
}

.modal-header {
    display: none;
}

.btn-group a {
    width: 100%;
}

.btn-group a button {
    width: 100%;
    text-align: left;
}

.classification-actions {
    margin-bottom: 1em;
    padding-left: 0;
}

#leafletMap {
    height: 550px;
    overflow: hidden;
    background-color: #ebebeb;
}

.map-button-outer {
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 0;
    color: white;
}

.map-button-inner {
    border-radius: 0;
}

/* Conservation */
.conservation {
    max-width: 600px;
}

.conservation__download-button {
    margin-bottom: 1rem;
}

.conservation__block-label {
    font-weight: bold;
    margin-bottom: 0;
}

.conservation__block {
    text-align: justify;
}

.conservation__block--authors {
    margin: 1rem 0;
    font-style: italic;
}

.conservation__taxon {
    font-style: italic;
}

.conservation__references {
    border-top: 1px solid black;

    padding-top: 1rem;
    padding-left: 0;

    list-style: none;
}
